@model IEnumerable<LinkBuildingProject.Web.ViewModels.LinkViewModels.LinkViewModel>

@{
    ViewData["Title"] = "GetUserLinks";
}

<h1>Links</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkUrl)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkUrl)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |                
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
